<a href="https://colab.research.google.com/github/greatkay-olowo/cars45listings/blob/main/cars45.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd    
import json
import requests
from bs4 import BeautifulSoup

In [4]:
def scrape(car_info):
  
  if(car_info == []):
    return

  cars_gotten_from_scrape = []

  car_info = soup.find_all('figcaption')

  for car in car_info:
    # car name and year - year car_name
    car_name_tag = car.find('h4').contents[0]

    # car price
    price = car.find(attrs={'class': 'price'}).contents[0]

    # car condition
    car_condition_array = car.find_all('p', attrs={'class': 'd-block d-sm-none'})

    for car in car_condition_array:
      all_car_condition = car.find_all('button', attrs={'class': 'btn btn-secondary border-circle mt-2'})

      for car_condition in all_car_condition:
        if car_condition != None:
          year = car_name_tag[0:4]
          name = car_name_tag[5:]

          # format data structure
          car =  {
              "name": name.rstrip(),
              "year": year,
              "car_condition": car_condition.text.rstrip(),
              "price": price.rstrip()
            }

          # add cars info to the bucket
          cars_gotten_from_scrape.append(car)
  return cars_gotten_from_scrape

In [5]:
data = []

for i in range(100):

  url = "https://buy.cars45.com/cars?limit=100&page=" + str(i) 

  response = requests.get(url)

  soup = BeautifulSoup(response.text, 'html.parser')

  car_info = soup.find_all('figcaption')

  if (car_info == []):
    break

  returned_car_info = scrape(car_info)

  data.append(returned_car_info)

In [6]:
x = []

for i in data:
  for j in i:
   x.append(j)

cars_data = {'cars': x}

In [11]:
with open('cars_data.json', 'w') as fp:
    json.dump(cars_data, fp)

In [8]:
df=pd.DataFrame(columns=['name','year','car_condition','price'])

In [9]:
a=0
for i in cars_data['cars']:
  df.loc[a,'name']=i['name']
  df.loc[a,'year']=i['year']
  df.loc[a,'car_condition']=i['car_condition']
  df.loc[a,'price']=i['price']
  a+=1

In [ ]:
df.shape
df.to_csv('cars_data.csv',index=False)

In [10]:
df

                     name  year  car_condition        price
0      Mercedes-Benz C300  2011  Nigerian Used  ₦ 5,050,000
1            Ford Mustang  2000  Nigerian Used    ₦ 906,000
2           Nissan Almera  2000  Nigerian Used    ₦ 682,000
3         Hyundai Elantra  2008  Nigerian Used    ₦ 794,000
4            Honda Accord  2009  Nigerian Used  ₦ 1,690,000
...                   ...   ...            ...          ...
2977   Mercedes-Benz C300  2016  Nigerian Used  ₦ 9,893,906
2978         Toyota Camry  2011                 ₦ 2,974,400
2979          Kia Sorento  2012                 ₦ 2,515,000
2980             Lexus ES  2007                 ₦ 2,140,000
2981  Mercedes-Benz Ml350  2006                 ₦ 1,890,000

[2982 rows x 4 columns]